.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
/* footer {
  margin-top: 0.3rem;
} */
.logo {
  position: absolute;
  top: -18px;
  left: 20px;
}
